{
    "server": "localhost",
    "server_port": 6667,
    "nickname": "sms900",
    "channel": "#testchannel",

    "http_server_port": 8090,
    "twilio_number": "+461234567",
    "twilio_account_sid": "123456",
    "twilio_auth_token": "abcdef",

    "mms_save_path": "/srv/mms",
    "external_mms_url": "http://example.com/mms"
}
