{
    "server": "localhost",
    "server_port": 6667,
    "nickname": "sms900",
    "channel": "#testchannel",

    "http_server_port": 8090,
    "twilio_number": "+461234567",
    "twilio_account_sid": "123456",
    "twilio_auth_token": "abcdef",

    "openai_api_key": "abc",
    "openai_engine": "text-davinci-003",
    "openai_use_chat": true,
    "openai_chat_model": "gpt-4",
    "openai_prompt": "You're very helpful but also very annoyed at everyone.",

    "mms_save_path": "/srv/sms900",
    "external_mms_url": "http://example.com/mms"
}
