<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    {% for mms in all_mms %}
        <a href="{{mms['relpath']}}/">
          <h1>{{mms['time']}}</h1>
        </a>
        {% for image in mms['images'] %}
        <a href="{{image['relpath']}}">
          <img src="{{image['relpath']}}" style="max-width:640px;">
        </a>
        <br>
        {% endfor %}
        {% for text in mms['texts'] %}
          {{text}}
          <br>
        {% endfor %}

        <hr>
        All files:<br/>
        <ul>
        {% for file in mms['all_files'] %}
          <li><a href="{{file['relpath']}}">{{file['name']}}</a></li>
        {% endfor %}
        </ul>
      <hr>
    {% endfor %}
    {% if page_filenames|length > 1 %}
    <nav>
      {% if prev_page %}<a href="{{prev_page}}">&laquo; Previous page</a>{% endif %}
      {% for filename in page_filenames %}
        {% if loop.index0 == current_page %}
          <strong>{{loop.index}}</strong>
        {% else %}
          <a href="{{filename}}">{{loop.index}}</a>
        {% endif %}
      {% endfor %}
      {% if next_page %}<a href="{{next_page}}">Next page &raquo;</a>{% endif %}
    </nav>
    {% endif %}
  </body>
</html>
